pandas==2.2.2
dill==0.3.8
dnspython==2.6.1
evidently==0.4.19
imbalanced-learn==0.12.2
mypy-boto3-s3==1.34.65
pip-chill==1.0.3
pymongo==4.6.3
python-dotenv==1.0.1
types-s3transfer==0.10.1
uvicorn==0.29.0
watchfiles==0.21.0
websockets==12.0
wincerstore==0.2.1
xgboost==2.0.3
-e .